{% extends base if base else "reddit/base.html" %}
{% block content %}
<div class="container" style="padding-top:10px; width:100%">
  <div class="row">
    <div class="col-6" style="border-right: 3px solid black">
      <h5 style="text-align:center;">Options</h5>
      <form>
	{% if not hide_future %}
	<div class="form-group row">
	  <label for="t" class="col-sm-5 col-form-label">When:</label>
	  <div class="col-sm-7">
	    <select class="form-control" id="t" name="t" value="0">
	      <option value="-1">Live</option>
	      {% for time in times %}
	      <option value="{{ time }}"
		      {% if time==this_time %}
		      selected="selected"
		      {% endif %}
		      >
		{{ format_time(time) }}</option>
	      {% endfor %}
	    </select>
	  </div>
	</div>
	{% else %}
	<input type="hidden" name="t" value="{{ this_time }}">
	{% endif %}
	<div class="form-group row">
	  <label for="k" class="col-sm-5 col-form-label">Number of conversations:</label>
	  <div class="col-sm-7">
	    <input type="text" class="form-control" placeholder="{{ k }}" name="k" value="{{ k }}" id='k'>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="sortby" class="col-sm-5 col-form-label">Sort by:</label>
	  <div class="col-sm-7">
	    <select class="form-control" id="sortby" name="sortby" value="{{ sortby }}">
	      {% for key,name in sort_names.items() %}
	      <option value={{ key }}
		      {% if sortby== key %}
		      selected="selected"
		      {% endif %}
		      >{{ name }}
	      </option>
	      {% endfor %}
	    </select>
	  </div>
	</div>
	<div class="form-group row">
	  <div class="col-sm-10"></div>
	  <div class="col-sm-2">
	    <button type="submit" class="btn btn-primary float-right" action="#" method="get">Reload</button>
	  </div>
	</div>
      </form>
    </div>
    <div class="col-6">
      <h5 style="text-align:center;">Info</h5>
      <div class="col">
	<p>Viewing the <span style="color:blue;">{{ distrib[1] }}</span> conversations
	  from the {{ format_duration(duration) }} before <b>{{ format_time(this_time) }}</b>.
	</p>
      </div>
      <div class="col">
	<p>
	  <span style="color:red;">{{ distrib[0] }}</span>
	  / <span style="color:blue;">{{ distrib[1] }}</span>
	  conversations
	  {% if distrib[1] > 0 %}
	  (<span style="color:red;">{{ (distrib[0] / distrib[1] * 100) | round(2) }} %</span>)
	  {% endif %}
	  flagged as <em>at risk</em> because they scored above the threshold: <b>{{ craft_thresh | round(2) }}</b>.
	</p>
      </div>
      <div class="col">
	<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#thresholdCollapse" aria-expanded="false" aria-controls="collapseExample">
	  Change the prediction threshold:
	</button>

	<div class="collapse" id="thresholdCollapse">
	  <div class="card card-body">
	    <form class="form-inline">
	      <div class="col">
		New Threshold:
	      </div>
	      <div class="col">
		<input type="text" class="form-control" placeholder="{{ craft_thresh | round(2) }}" name="update_thresh" value="{{ craft_thresh | round(2) }}">
	      </div>
	      <div class="col">
		<button type="submit" class="btn btn-primary" action="#" method="get">Set</button>
	      </div>
	      <input type="hidden" name="t" value="{{ this_time }}">
	      <input type="hidden" name="k" value="{{ k }}">
	      <input type="hidden" name="sortby" value="{{ sortby }}">
	      
	    </form>
	    (Threshold must be a number between 0 and 1; entering a value outside this range will not update the threshold).
	    <hr>
	    <form>
	      <div class="col">
		<button type="submit" class="btn btn-secondary" action="#" method="get">Reset to Default</button>
	      </div>
	      <input type="hidden" name="t" value="{{ this_time }}">
	      <input type="hidden" name="k" value="{{ k }}">
	      <input type="hidden" name="sortby" value="{{ sortby }}">
	      <input type="hidden" name="reset_thresh" value="Yes">	  
	    </form>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row" style="width: 100%">
    {% include 'reddit/home_table.html' %}
  </div>
</div>
{% endblock %}
